.palyazatok-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  margin: 50px auto;
  max-width: 1300px;

  h1 {
    font-size: 60pt;
    font-weight: normal;
    color: #707070;
  }

  .application-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 20px;
    justify-items: center;

    margin: 50px auto;

    width: 100%;

    .palyazat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 700px;

      // border: 1px solid #707070;
      background-color: #f9f9f9;
      border-top: 5px solid #7ed957;
      border-radius: 10px;
      margin: 30px auto;
      padding: 30px;
      box-sizing: border-box;

      text-align: center;

      h3 {
        font-size: 30pt;
        margin: 0;
        margin-bottom: 10px;
        font-weight: medium;
      }

      h5 {
        text-align: center;
        font-weight: normal;
        margin: 0;
        font-size: 18pt;
      }

      p {
        font-size: 12pt;
        line-height: 1.5em;
        color: #707070;
      }

      button {
        background-color: #80d95b;
        color: #ffffff;
        width: max-content;
        min-width: 200px;
        margin: 0 auto;

        &:hover {
          background-color: #66ad48;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .palyazatok-wrapper {
    max-width: 1200px;

    h1 {
      font-size: 40pt;
    }

    .application-wrapper {
      .palyazat {
        h3 {
          font-size: 20pt;
        }

        h5 {
          font-size: 16pt;
        }

        p {
          font-size: 12pt;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .palyazatok-wrapper {
    h1 {
      font-size: 30pt;
    }

    .application-wrapper {
      .palyazat {
        h3 {
          font-size: 16pt;
        }

        h5 {
          font-size: 13pt;
        }

        p {
          font-size: 10pt;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .palyazatok-wrapper {
    .application-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
  }
}

@media screen and (max-width: 767px) {
  .palyazatok-wrapper {
    .application-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
  }
}
