@font-face {
  font-family: "Monsterrat Regular";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Monsterrat Bold";
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Monsterrat Regular";
}

//scrollbar css

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E7302A;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ac2520;
  transition: 200ms;
  cursor: pointer;
}
